<section id="conatcat-info">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <div class="media contact-info wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                    <div class="pull-left">
                        <a href="/contact">
                            <i class="fa fa-phone"></i>
                        </a>
                    </div>
                    <div class="media-body">
                        <a href="/contact">
                            <h2>Have a question or need a custom quote?</h2>
                        </a>
                        <a href="/contact">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>