<head>
	<% include ../partials/head %>
</head>

<body>
	<% include ../partials/header %>

		<div class="aboutus" style="padding: 8%">

			<div class="container">
				<h3>Our company information</h3>
				<hr>

				<div class="col-md-7 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
					<pre style="background-color:transparent;border: transparent;" ><%= info %></pre>
				</div>

			</div>

			<% include ../partials/contact_banner %>
				<% include ../partials/footer %>
		</div>
</body>

</html>