<!-- FINISED -->
<head>
    <% include ../partials/head %>
</head>

<body>
    <% include ../partials/header %>
        <h1> Injection moulding machines for sale</h1>

        <div>
            <div style="padding-top: 3%;" class="container">
                <% machines.forEach(function(machine) { %>
                    <div class="w3-container w3-card w3-white w3-margin-bottom">
                        <img style="float: left; padding: 3%; height: 350px;width: 500px;" src="<%= machine.url %>" />
                        <div style="padding: 3%">
                            <h3>
                                <%= machine.title %>
                            </h3>
                            <h5>
                                Very nice nicci machine only 10k
                            </h5>
                        </div>
                    </div>
                    <% }); %>
            </div>
        </div>

        <% include ../partials/contact_banner %>
            <% include ../partials/footer %>
</body>