<!-- FINISED -->
<head>
    <% include ../partials/head %>
</head>

<body>
    <% include ../partials/header %>
            <div class="container">
                <div style="padding-top: 10%" class="center">
                    <h2>Thanks! We have recieved your message!</h2>
                    <p>We will get in touch with you soon.</p>
                </div>
            </div>
    <% include ../partials/contact_banner %>
    <% include ../partials/footer %>
</body>