<head>
    <% include ../partials/head %>
</head>

<body>
    <% include ../partials/header %>

        <h1>
            content goes here
        </h1>

    <% include ../partials/contact_banner %>
    <% include ../partials/footer %>
</body>