<head>
    <% include ../partials/head %>
</head>

<body>
    <% include ../partials/header %>

        <h1>
            Your message has been recieved! Thank you! We will get in touch with you soon.
        </h1>

    <% include ../partials/contact_banner %>
    <% include ../partials/footer %>
</body>